.divTable {
    display: table;
    width: 100%;
    font-family: monospace;
    text-align: center;
    vertical-align: middle;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.btns {
    display: block;
    position:relative;
}

.btnContainer {
    display: flex;
    justify-content: center;
}

.divTableTitle {
    font-family: monospace;
    font-size: 1.5em;
}

.divTableCell,
.divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
    font-size: 3em;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}

h1 {
    font-family: monospace;
}

p {
    font-family: monospace;
}

#inputs_found,
#outputs_found {
    font-family: monospace;
    font-size: 1em;
    width: 250px;
    text-align: left;
}

#settings {
    visibility: hidden;
}

#restorebtn {
    visibility: hidden;
}

#storedSettingsTable {
    display: none;
}

#settingsContainer {
    display: none;
}

#storebtn,
#restorebtn {
    font-size: 1.5em;
    margin-block-end: unset;
}